<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="All Modules">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../Core/</directory>
        </whitelist>
    </filter>
</phpunit>